<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartPantry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77EE74952D5AACC3004BAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77EE74A52D5AACC4004BAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77EE74AF2D5AACC5004BAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
